@CHARSET "UTF-8";
@font-face {
    font-family: 'rock_saltregular';
    src: url('../fonts/RockSalt-webfont.eot');
    src: url('../fonts/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RockSalt-webfont.woff') format('woff'),
         url('../fonts/RockSalt-webfont.ttf') format('truetype'),
         url('../fonts/RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
}
a{
    text-decoration:none;
    outline:none;
    font-size: inherit;
    color: black;
}
/* Vertical and horizontal lines */
#vertical {
    position: absolute;
    margin-bottom: 15px;
    width: 5px;
    height: 250px;
    background: url("../images/border.png") no-repeat center center;
    background-size: cover;
}
#horizontal {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 5px;
    background: url("../images/border_horizontal.png") no-repeat center center;
    background-size: cover;
}
.section, .fullpage, .about_us, .throwback, .contact_us {
    width: 100%;
    height: 100%;
}
/* Styling hero section */
.hero_section {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/hero_bg.png") no-repeat center center;
    background-size: cover;
}
#frontpage_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Social media section styling */
#social_media_icons {
    position: absolute;
    bottom: 0;
    right: 0;
}
#social_media_icons ul li {
    display: inline;
    padding-right: 5px; 
}
#social_media_icons ul, #connect {
    padding-bottom: 10px;
    padding-right: 5px;
}
#social_media_icons img {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
/* Disable grayscale on hover */
#social_media_icons img#facebook:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social_media_icons img#instagram:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social_media_icons img#youtube:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* Navigation bar styling */
#nav_bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; /* Added this as mcustomscrollbar was removing a tags and it was below #about_content */
    font-family: 'rock_saltregular';
    font-size:25px;
    -webkit-font-smoothing: subpixel-antialiased!important;
    font-weight: 600;
}
#nav_bar ul li {
    display: inline;
    padding-right: 13px;
    padding-left: 13px; 
}
#nav_bar ul {
    padding-top: 25px;
    padding-right: 5px;
}
#nav_bar a {
    display: inline-block;
    color: black;
}
/* Navigation bar hover effect */
#nav_bar a:hover {
    color: #663333;
}
/* Creating text underline effect that triggers on hover*/
#nav_bar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 13px;
    background-color: #663333;
    -webkit-transition: width 2s; /* Safari */
    -moz-transition: width 2s; /* Mozilla */
    -o-transition: width 2s; /* Opera */
    transition: width .3s;
}
#nav_bar a:hover::after {
    width: 100%;
    -webkit-transition: width 2s; /* Safari */
    -moz-transition: width 2s; /* Mozilla */
    -o-transition: width 2s; /* Opera */
    transition: width .3s;
}
/* Countdown styles */
#countdown {
    position: absolute;
    bottom: 0;
    left: 2%;
    font-family: 'rock_saltregular';
    font-size:33px;
    -webkit-font-smoothing: subpixel-antialiased!important;
    font-weight: 600;
}
#countdown ul li {
    display: inline;
    padding-right: 13px;
    padding-left: 13px; 
}
#countdown ul {
    padding-bottom: 25px;
    padding-right: 5px;
}
#countdown #Days, #countdown #Seconds {
    font-size: 20px;
}

/* About us page styling */
.about_us {
    position: relative; /* important */
    background: url("../images/about_section_bg.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#about_content {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin-top: 20%;
}
#about_content #first_line {
    width: 13%;
    text-align: center;
    opacity: 0;
    transform: translate(800px, 0);
    -webkit-transition: all 0.3s ease 0.2s; /* Safari */
    -moz-transition: all 0.3s ease 0.2s; /* Mozilla */
    -o-transition: all 0.3s ease 0.2s; /* Opera */
    transition: all 0.9s ease-in-out 0.5s;
}
#about_content span {
    display: block;
}
#about_content #line1 {
    font-family: 'Arial black';
    font-size: 350%;
    -webkit-font-smoothing: subpixel-antialiased!important;
    font-weight: 600;
}
#about_content #line2 {
    font-family: 'Arial black';
    font-size: 120%;
    -webkit-font-smoothing: subpixel-antialiased!important;
    font-weight: 250;
}
